body{
    background-image: url(../img/bg1.jpg);
    background-position: center center;
    background-size: cover;
    
}
header{
    text-align: center;
} 
header> .logo{
    padding-right:55px;
}
header> #search{
    margin: 0 20px 0 0;
}
#search>form>input{
    padding:8px;
    border-radius: 0px;
}
#search>form>input#q{
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px 10px;
    width: 300px;
    background-color: rgba(172, 165, 165, 0.6);
}
main{
    text-align: center;
}
kbd{
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    padding: 2em 2.5em;
    margin:10px;
    color: white;
    text-transform: uppercase;/*字母变大写*/
    font-weight: bold;
    position: relative;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.45)
}
main>#onediv{
    margin-top: 60px;
}
main>#onediv>div{
    padding: 29px 20px;
}
kbd>button{
    text-decoration: none;
    font-size: 2px;
    margin: 0;
    padding: 0;
    position: absolute;
    right:0;
    bottom:0;
    display: none;
}
kbd:hover>button{
    display: inline-block;
}
/*狗头动画*/
.logo>img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }