body{
    background-image: url(../img/bg2.jpg);
    background-position: center center;
    background-size: cover;
}
header>.logo{
    text-align: center;
}
header>.logo>img{
    height: 100px;
    width: 100px;
}
main{
    text-align: center; display: flex; justify-content: center; align-items: center;
    height: 100vh;
}
#onediv kbd{
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    padding: 2em 2.5em;
    margin:10px;
    color: white;
    text-transform: uppercase;/*字母变大写*/
    font-weight: bold;
    position: relative;
    transition: all 0.3s;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
}
kbd> .text{
    font-size: 15px;
}
main>#onediv{
    background-color:rgba(139, 97, 79, 0.7);
    padding: 10px 0;
}
main>#onediv>div{
    padding: 29px 20px;
}
kbd>.Edit{
    text-decoration: none;
    font-size: 2px;
    margin: 0;
    padding: 0;
    position: absolute;
    left:1px;
    top:22;
    display: none;
}
kbd>.Delete{
    text-decoration: none;
    font-size: 2px;
    margin: 0;
    padding: 0;
    position: absolute;
    right:1px;
    top:22;
    display: none;
}
kbd:hover>.Delete{
    display: inline-block;
}
kbd:hover>.Edit{
    display: inline-block;
}
kbd>img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 27px;
    bottom: 2px;
}
/*摇头的logo*/
.logo>img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }